# Merchant id
BUSINESS_ID=dummy@mail.com

# Used for button build notation generation. Optional
VENDOR=MyShop
COUNTRY=US

# Forced locale for all buttons. Optional
# LOCALE=ES

# Token for PDT validation
PDT_TOKEN=some_hash

# Certs and vars for encrypted buttons (EWP)
EWP_PAYPAL_CERT_FILE=certs/paypal_cert_sandbox.pem
EWP_CERT_FILE=path/to/my/cert.pem
EWP_KEY_FILE=path/to/my/prvkey.pem
EWP_CERT_ID=MY_CERT_ID
# If the rsa key needs a passphrase
# EWP_KEY_PASS=MyPass
