BUSINESS_ID=dummy@mail.com
VENDOR=MyShop
COUNTRY=US
LOCALE=US
PDT_TOKEN=some_hash
EWP_PAYPAL_CERT_FILE=certs/paypal_cert_sandbox.pem
EWP_CERT_FILE=path/to/my-cert.pem
EWP_KEY_FILE=path/to/my-prvkey.pem
EWP_KEY_PASS=
EWP_CERT_ID=MY_CERT_ID
