@btn-height: 32px;
@btn-radius: 4px;
@btn-min-width: 71px;
@btn-line-height: 19px;
@btn-font-size: 10px;
@btn-padding: 6px 10px;

@logo-height: 22px;
@logo-margin: 4px;

@wordmark-height: 19px;
@wordmark-width: 71px;
@wordmark-margin: 2px 0 0 3px;
