@btn-height: 26px;
@btn-radius: 3px;
@btn-min-width: 57px;
@btn-line-height: 16px;
@btn-font-size: 10px;
@btn-padding: 5px 10px;

@logo-height: 18px;
@logo-margin: 3px;

@wordmark-height: 16px;
@wordmark-width: 60px;
@wordmark-margin: 1px 0 0 2px;
